<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettagli Squadra</title>
</head>
<body>
    <h2>Dettagli della Squadra</h2>

    <p><strong>Nome:</strong> <span th:text="${squadra.nome}"></span></p>
    <p><strong>Anno di Fondazione:</strong> <span th:text="${squadra.annoFondazione}"></span></p>
    <p><strong>Indirizzo:</strong> <span th:text="${squadra.indirizzoSede}"></span></p>
    <p><strong>Presidente:</strong> <span th:text="${squadra.presidente.nome + ' ' + squadra.presidente.cognome}"></span></p>

    <h3>Giocatori</h3>
    <ul>
        <li th:each="giocatore : ${squadra.giocatori}">
            <span th:text="${giocatore.nome + ' ' + giocatore.cognome}"></span> - <span th:text="${giocatore.ruolo}"></span>
        </li>
    </ul>

    <a th:href="@{/addGiocatore/{squadraId}(squadraId=${squadra.id})}">Aggiungi Giocatore</a>
    <a th:href="@{/squadre}">Torna all'elenco</a>
</body>
</html>
