<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi Nuovo Giocatore</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png" alt="Federazione Sportiva Logo" class="logo"></a>
        <h1>Federazione Sportiva</h1>
        <nav>
            <ul>
                <li th:if="${#authentication.name != 'anonymousUser'}"><a th:href="@{/logout}">Logout</a></li>
                <li th:unless="${#authentication.name != 'anonymousUser'}"><a th:href="@{/login}">Login</a></li>
            </ul>
        </nav>
    </header>

    <h1>Aggiungi Nuovo Giocatore</h1>
    <form th:action="@{/admin/giocatore}" th:object="${giocatore}" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required />
        </div>

        <div>
            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" th:field="*{cognome}" required />
        </div>

        <div>
            <label for="dataNascita">Data di Nascita:</label>
            <input type="date" id="dataNascita" th:field="*{dataNascita}" required />
        </div>

        <div>
            <label for="luogoNascita">Luogo di Nascita:</label>
            <input type="text" id="luogoNascita" th:field="*{luogoNascita}" required />
        </div>

        <div>
            <label for="ruolo">Ruolo:</label>
            <input type="text" id="ruolo" th:field="*{ruolo}" required />
        </div>

        <div>
            <label for="squadra">Squadra:</label>
            <select th:field="*{squadra.id}">
                <option th:each="squadra : ${squadre}" th:value="${squadra.id}" th:text="${squadra.nome}">Squadra</option>
            </select>
        </div>

        <button type="submit">Aggiungi Giocatore</button>
    </form>

    <a th:href="@{/admin/indexGiocatori}">Torna all'indice dei giocatori</a>
</body>
</html>
